.containerCursor {
    display: none;

    width: 30px;
    height: 30px;

    position: fixed;

    border-radius: 50%;

    pointer-events: none;

    background-color: #9e5aac;
    
    box-shadow: 0 0 10px 5px #9e5aac,
                0 0 30px 25px #9e5aac;

    transform: translate(-50%, -50%);
}