.containerCursor {
    width: 10px;
    height: 10px;

    position: fixed;

    border-radius: 50%;

    pointer-events: none;

    background-color: #9e5aac;
    
    box-shadow: 0 0 20px 15px #9e5aac;

    transform: translate(-50%, -50%);
}